*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
}
.header__nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 1rem;
}
.header__nav-links a{
    color: white;
    margin: 0.1rem;
    text-decoration: none;
}
.header__nav-links a:hover{
    text-decoration: underline;
    transition: 1s;
    color: blue;
}
.header__nav--img img{
    width: 3rem;
    height: 3rem;
}
header h1,p{
    color: white;
    text-align: center;
}
.container{
    width: 28,2rem;
    height: 26,9rem;
    margin: 10rem;
    border-radius: 0.9rem;
    border: solid 0.5rem #94bbe9;
    box-shadow: 5px 5px 15px 5px #000000;

    
}
.container-form{
    width: 24.9rem;
    height: 23.9rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
button{
    width: 25.2rem;
    height: 3.4rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), -0.3rem -0.4rem 0.4rem rgba(173, 173, 173, 0.25);
    border: none;
    font-weight: bold;
    color: black;
    
}
button:hover{
    background: #00d4ff;
    cursor: pointer;
}
input {
    width: 24.9rem;
    height: 3.4rem;
    border: none;
    background: #F4F4F4;
    box-shadow: inset 0px 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    font-size: 1.35rem;
}
.div{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 0.9rem;
    border: solid 0.5rem #94bbe9;
    box-shadow: 5px 5px 15px 5px #000000;
}
.div ul{
    list-style: none;
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    
}
.div p{
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px 4px 2px rgba(0,0,0,0.6);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}