*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.header__nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 1rem;
}
.header__nav-links a{
    color: white;
    margin: 0.1rem;
    text-decoration: none;
    margin-right: 2rem;
}
.header__nav-links a:hover{
    text-decoration: underline;
    transition: 1s;
    color: blue;
}
.header__nav--img img{
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}
header h1{
    margin: 2rem;
    color: white;
    text-align: center;
}
.container{
    margin: 5rem;
    width: 80vh;
    height: 50rem;
    display: flex;
}
.container__div{
    width: 25rem;
    height: 35rem;
    margin: 5rem;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.container__div p{
    color: white;
    text-align: center;
}
.container__div--div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container__div--div img{
    width: 10rem;
    height: 11rem;
}
.container__div--div a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.5rem;
    font-size: 2rem;
}
.container__div--div a:hover{
    text-decoration: underline;
    transition: 1s;
    color: blue;
}
@media (max-width:768px){
    .container{
        margin: 10rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container__div{
        align-items: center;
        height: 25rem;
        justify-content: flex-start;
        margin-top: 3.5rem;
        font-size: 2rem;
    }

    .container__div--div img{
        margin-top: 3rem;
    }
    
}
@media (max-width:425px){
    .header{
        width: 100vw;
        height: 14rem;
        display: flex;
        flex-direction: column;
    }
    .header__nav-links a{
        color: white;
        margin: 0.1rem;
        text-decoration: none;
        margin-right: 5.5rem;
    }
    .header h1{
        font-size: 1.6rem;
    }
    .container{
        margin: 0.1rem;
        width: 250px;
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .container__div{
        width: 200px;
        height: 150px;
        padding: 0.1rem;
        margin: 0.1rem;
        font-size: 1.6rem;
        align-items: center;
    }

    .container__div--div img{
        margin: 1rem;
        width: 5rem;
        height: 5rem;
        align-items: center;
    }
    
}
@media (max-width:320px){
    .header__nav-links a{
        margin-right: 0.5rem;
    }
    .header__nav--img img{
        width: 3rem;
        height: 3rem;
        margin-left: 0rem;
    }
    .header h1{
        margin: 0.1rem;
        font-size: 1.6rem;
    }
}
